form {
    margin-top: 5rem;
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;

    input {
        width: 60%;
        color: black;
    }

    button {
        width: 20%;
    }
}